*.iml
.idea
*.pyc
target/
target/*
history/
deploy/*.war
deploy/deploy-local/*
deploy/.ossutil_checkpoint
deploy/node_modules/
deploy/ossutil_output
deploy/.Python
deploy/bin/
deploy/include/
deploy/lib/
deploy/pip-selfcheck.json
exchange-api/node_modules/
.DS_Store
*.log.*
